#sve {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(18, 15, 15, 0.9);
  z-index: 3;
}
.newposao-naslov > h3 {
  color: var(--boja-texta-v4);
}

label {
  color: var(--boja-texta);
}

.container-newposao {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--boja-texta-v3);
  width: 500px;
  z-index: 3;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 50px 10px 280px 10px;
  border: 1px solid var(--boja-texta-v4);
}

.newposao-naslov {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
}

.btn-zatvori {
  font-size: 15px;
  height: 50%;
  border-radius: 8px;
  cursor: pointer;
  color: var(--boja-texta-v4);
  border-color: var(--boja-texta-v4);
  background-color: var(--boja-texta-v3);
}

.newposao-ostalo {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 0px 20px;
}

.newposao-ostalo > label {
  margin-bottom: 5px;
}

.newposao-ostalo > input {
  margin-bottom: 15px;
  /*  border-width: 0px 0px 2px 0px; */
  font-size: 17px;
}

.div-noInput {
  margin-bottom: 15px;
  font-size: 17px;
}

.div-select {
  display: flex;
  flex-direction: row;
}

select {
  width: 80px;
  margin-right: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn-posalji {
  font-size: 15px;
  height: 40px;
  width: 60px;
  border-radius: 8px;
  margin-bottom: 15px;
  margin-top: 20px;
  cursor: pointer;
  color: var(--boja-texta-v4);
  border-color: var(--boja-texta-v4);
  background-color: var(--boja-texta-v3);
}

@media (max-width: 600px) {
  #sve {
    opacity: 1;
  }
  .container-newposao {
    width: 100%;
    margin: 0 0 0 0;
    border-radius: 0;
  }
  .div-select {
    flex-wrap: nowrap;
  }
}
